:root {
    --primary-color: rgb(1, 24, 46);
    --secondary-color: rgb(1, 92, 138);
    --secondary-color-60: rgba(1, 92, 138, 0.6);
    --accent1-color: rgb(255, 255, 255);
    --section-body-background-color: rgba(2, 46, 88, 0.664);
    --border-default: 1px solid rgba(0, 0, 0, 0.1);
    --heading-font: 'Courier New', Courier, monospace;
    --body-font: Arial, Helvetica, sans-serif;
    --margin-standard: 16px;
    --padding-standard: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: black;
}

img {
    width: 100%;
    height: auto;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

header img {
    width: 125px;
    justify-self: center;
    padding: var(--padding-standard);
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    justify-content: space-evenly;
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    padding: var(--padding-standard);
    font-size: large;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color-60);
    color: var(--accent1-color);
}

h2 {
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--accent1-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    display: block;
    border: var(--border-default);
    width: 510px;
    background-color: var(--secondary-color-60);
    color: var(--accent1-color);
    top: 64%;
}

.hero article img {
    float: right;
    width: 125px;
    margin-top: 4px;
    margin-left: var(--margin-standard);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    margin-right: 7px;
}

section p {
    background-color: var(--section-body-background-color);
    border: var(--border-default);
    color: var(--accent1-color);
}

/* nav {
    font-size: small;
} */

nav a {
    text-decoration: none;
}

nav,
p,
section,
article {
    margin: var(--margin-standard);
    padding: var(--padding-standard);
}

section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.342);
    font-size: 14px;
}

footer p {
    margin-top: 0;
    margin-bottom: 2px;
}