:root {
    --primary-color: #01182e;
    /* Very dark navy */
    --secondary-color: #015c8a;
    /* rich blue */
    --accent1-color: #a3d5ff;
    /* light sky blue */
    --accent2-color: #cbd5e1;
    /* cool gray */
    --heading-font: ;
    --body-font: Arial, Helvetica, sans-serif;
    --font-size-default: 16px;
    --font-size-large: 24px;
    --margin-standard: 16px;
    --padding-standard: 8px;
    --default-line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

img {
    width: 100%;
    height: auto;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: var(--margin-standard);
    padding: var(--padding-standard);
}

nav img {
    width: 100px;
}

div {}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

article img {
    width: 100px;
}

footer {}

footer img {
    width: 50px;
}

.motto {}

.socialmedia {}

.socialmedia a {
    text-decoration: none;
}