:root {
    --primary_color: darkblue;
    --font-size-default: 16px;
    --font-size-large: 24px;
    --margin-standard: 16px;
    --default-font: Arial, Helvetica, sans-serif;
    --default-line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

nav {
    background-color: var(--primary_color);
    padding: 20px;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
}

div {
    max-width: 840px;
    margin: 0 auto;
}

main {
    margin: 1rem;
    grid-column: 2;
}

h1 {
    color: var(--primary_color);
    padding: 0.5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 28rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1;
    order: -1;
}

aside img {
    width: 300px;
}

aside h2 {
    position: absolute;
    top: 125px;
    left: 90px;
    color: #eee;
}

body {
    font-family: var(--default-font);
    line-height: var(--default-line-height);
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}